# ==========================================================
# Python
# ==========================================================

venv/
.venv/
__pycache__/
*.pyc

# ==========================================================
# Generated Outputs
# ==========================================================

output/
clean_spi_transactions.csv
decoded_transactions.csv
tpm_command_summary.txt
pcr_extend_summary.txt

# ==========================================================
# Electron
# ==========================================================

app/node_modules/
app/release/
app/dist/

# Electron Builder
app/.cache/
app/.electron/
app/.webpack/

# ==========================================================
# Release Archives
# ==========================================================

Release/
*.zip

# ==========================================================
# Logs
# ==========================================================

*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db