# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated CSV outputs
clean_spi_transactions.csv
decoded_transactions.csv
tpm_command_summary.txt
pcr_extend_summary.txt

# Logs
*.log

# ==========================================================
# Electron
# ==========================================================

app/node_modules/
app/release/
app/dist/

# Build logs
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# Electron Builder
app/.cache/
app/.electron/
app/.webpack/

# OS files
.DS_Store
Thumbs.db